$icon-font-path: '../fonts/';

$primary-color: #FF2B6A;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #000;
  color: #fff;
  height: 100%;
  font-family: 'Lato', sans-serif;

  &::before {
    height: 100%;
    background-image: url('http://assets.fanart.tv/fanart/movies/155/moviebackground/the-dark-knight-5055ef9dac977.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: center;
    z-index: -2;

    filter: url('/media/blur.svg#blur');
    filter: blur(10px);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: -1;
  }
}

img {
  max-width: 100%;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #000;
  color: $primary-color;
  text-align: center;
  font-size: 40px;
  // text-shadow: 0px 0px 10px rgba($primary-color, 1);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  margin: 12px 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Modify tabs styles
.nav-tabs {
  border-bottom: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.nav-tabs > li > a {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid transparent;
  transition: all .2s linear;
}

.nav-tabs > li > a:hover {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: $primary-color;
  background-color: transparent;;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid $primary-color;
  color: $primary-color;
}

.nav-tabs > li > a {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
// end Modify tabs styles


.card {
}
